@charset "utf-8";
* {margin: 0;padding: 0; 
  box-sizing: border-box;}
a{
text-decoration: none;
}
img{
vertical-align: bottom;
max-width: 100%;
}
h1{
text-align: center;
margin: 40px 0;
font-family: 'Orbitron', sans-serif;
font-size: 40px;
}
.column-wrapper{
width: 90%;
margin: 0 auto 100px;
columns: 4;
gap: 20px;
}
.box{
break-inside: avoid;/* 要素の中で改行されないようにする */
background-color: #0f00669f;
margin-bottom: 10px;
padding: 20px;
border-radius: 8px;
font-family: 'Orbitron', sans-serif;
}
.photo{
margin-bottom: 16px;
}
.photo img{
border-radius: 8px;
}
.txt{
line-height: 1.6;
}
#more-btn{
display: none;
}
/* 960px以下は3カラム */
@media(max-width:960px){
.column-wrapper{
width: 96%;
columns: 3;
gap: 20px;
}
.box{
margin-bottom: 20px;
}
}

/* 640px以下は2カラム */
@media(max-width:640px){
.column-wrapper{
columns: 2;
gap: 16px;
}
.box{
margin-bottom: 16px;
padding: 10px;
}
.box:nth-of-type(n+9){
display: none;
}
#more-btn{
display: block;
margin-bottom: 20px;
}

/* display: block;
width: 150px;
height: 44px;
background-color: #d60024;
border-radius: 25px;
margin: 40px auto;
text-align: center;
line-height: 44px; */


/* ボタンのスぺニット※検索結果画面(SERP)に表示されるWebページの情報の内、説明文の部分 */
.button01 a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 200px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
  background-color: #d60024;
  transition: 0.3s;
  border-radius: 30px;
}

.button01 a::after {
  content: '';
  width: 5px;
  height: 5px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  transform: rotate(45deg);
}

.button01 a:hover {
  text-decoration: none;
  background-color: #9c031c;
}

}
